# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
MemoryCaptures/
Recordings/

# IL2CPP / Burst
*_BackUpThisFolder_ButDontShipItWithYourGame/
*_BurstDebugInformation_DoNotShip/

# IDE
.vs/
.vscode/
.idea/

# Visual Studio
*.csproj
*.sln
*.slnx
*.user
*.pidb
*.booproj

# Android
*.apk
*.aab